body{
    margin: 0;
    padding: 0;
}
.box{
   
}

.base p{

    line-break: 50px;

}


img{
    width: 100%;
    
}

a{
    text-decoration: none;
    padding: 8px 25px;
}
.next{
    background: #fbc3cc;
    border-radius:27% ;
}
.mail{
    border-radius: 10%;
}