*{
    margin: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.circle{
    width: 21px;
    border: 2px solid #575656;
    border-radius: 50%;
    position: absolute;
    top: 24px;
}
.photo img{
    width: 100%;
    height: 100% ;
}
.girl{
    display: none;
}
.flex{
    /* background-color: rgb(246, 186, 186); */
    display: flex;
    width: 100%;
    height: 696px;
    
}
.fater{
    background-color: #f56c83;
    /* padding-left: 80px;
    padding-right: 80px; */
}
.base{
    padding-top: 25px;
    padding-left: 80px;
}
.base p{
    padding-left: 29px;
    font-size: 0.8rem;
    font-weight: bold;      
    line-height: 12px;
    letter-spacing: 4px;
}
.we{
    padding: 140px 80px 25px 80px;
}
.line{
    font-size: 3rem;
   
    line-height: 45px;
    letter-spacing: 16px;
}
.first{
    color: #127275;
    font-weight: lighter;
    position: relative;
    letter-spacing: 17px;

}
.first span{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    left: 92px;
    
}
.hello{
    padding: 20px 80px;
    font-size: 0.7rem;
    color: #127275;
}
.fill{
    padding: 20px 80px;
    position: relative;
}
input{
    border: 1px solid #c5c5c5;
    border-radius: 16px;
    padding: 9px;
    width: 80%;
    box-shadow: 1px 1px 1px rgb(245, 171, 171) ;
    
}
::placeholder{
    color: #e29ca8;
    
}
button{
    display: inline;
    /* padding: 9px 29px; */
    width: 12%;
    border: 1px solid rgb(251, 225, 225);
    border-radius: 16px;
    position: absolute;
    top: 21px;
    right: 105px;
    background-color: #ffa8b1;
    box-shadow: 1px 1px 5px rgb(248, 222, 222);
    cursor: pointer;
}
button span{
  font-size: 1.6rem;
  color: #fff;
 
   
}







/* @media screen and (max-width:320px){
    
    .mom{
        display: none;
    }
  .girl{
      display: block;
  }
  .base{
    background-color: #f56c83;
    padding: 25px;
}

  } */
  @media screen and (max-width:480px){
     
    .fater{
        padding-right: 0;
        padding-left: 0;
    }

    .mom{
          display: none;
      }
      .girl{
        display: block;
    }
    .base{
        background-color: #f56c83;
        padding: 25px;
    }
    .shoppers{
        height: 100% auto;
        background-color: #f56c83;
        
    }
    .we{ 
        padding:40px 50px 23px 50px ;
        text-align: center;
  }
  .first span{
      right: 60px;
  }
  .hello{
      padding: 0px 50px 0px 50px;
      text-align: center;
  }
  .fill{
      padding: 20px 55px;
  }
  button{
      top: 20px;
    right: 75px;
  }
  @media screen and (min-width:520px){
        body{
            font-size: 20px;
        }
       
}